* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;

}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background: #222222;
}

header div {
    display: flex;
    align-items: center;
}

.nav__left {
    padding-left: 32px;
    gap: 41px;
}

.nav__right {
    padding-right: 32px;
    gap: 25px;
}

.nav__cart {
    padding-left: 17px;
}

/* business card */
.business_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background: #F1E4E6;
}

.business_card__img {
    height: 764px;
}

.business_card__brand_slogan {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.business_card__brand_slogan h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.business_card__brand_slogan h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.business_card__h2_red {
    color: #F16D7F;
}

/* PROMO */
.promo {
    display: grid;
    grid-template: 260px 180px / repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 96px;
}

.promo_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.promo_item_big {
    grid-column: span 3;
}

.promo__women {
    background-image: url(img/content/for_women_bg.jpg);
}

.promo__men {
    background-image: url(img/content/for_men_bg.jpg);
}

.promo__kids {
    background-image: url(img/content/for_kids_bg.jpg);
}

.promo__accesories {
    background-image: url(img/content/accesories_bg.jpg);
}

.promo__link {
    display: block;
}

.promo h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.promo h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

/* FETURED ITEMS*/

.fetured__heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 6px;

}

.featured__descript {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.fetured__cards {
    display: grid;
    grid-template: repeat(2, 581px) / repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.cards__item {
    background: #F8F8F8;
}

.cards__item__name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.cards__item__descript {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 16px 0px;
}

.cards__item__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.cards__item_about {
    padding: 24px 16px;
}

.fetured__btn_browse_all {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    background-color: #fff;
    margin-top: 48px;
}

.fetured__btn {
    display: flex;
    justify-content: center;
}

.fetured {
    padding-bottom: 95px;
}

/* advantages */

.advantages {
    display: grid;
    grid-template: 1fr/repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    background-color: #222224;
    padding: 104px 0px;
}

.adventages_category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
}

.advantages__title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.advantages__descript {
    font-size: 13.972px;
    line-height: 17px;
    font-weight: 300;
    text-align: center;
    color: #FBFBFB;
}

/* SUBSCRIBE */
.subscribe {
    background-image: url(img/content/bg_subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 126px;
    padding-top: 97px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe__quote {
    width: 359px;
    font-size: 20px;
    line-height: 24px;
}

.subscribe__quote img {
    margin-bottom: 30px;
}

.subscribe__form__heading {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}

.subscribe__form__dscr {
    font-size: 18px;
}

.subscribe__form__input {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border: none;
    padding-left: 22px;
    color: #222224;
    opacity: 0.67;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.subscribe__form__btn {

    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border: none;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.subscribe__btn_input {
    margin-top: 32px;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;

}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222224;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 24px;
    padding-bottom: 23px;
}

.media {
    display: flex;
    gap: 8px;
    padding-right: 32px;
}

.copyright {
    padding-left: 32px;
}


/* media */

@media (max-width:1023px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    /* business card */
    .business_card__img {
        height: 368px;
    }

    .business_card__brand_slogan h1 {
        font-size: 44px;
        line-height: 53px;
    }

    .business_card__brand_slogan h3 {
        font-size: 24px;
        line-height: 29px;
    }

    /* promo */
    .promo {
        grid-template: 168px 116px / repeat(3, 232px);
        gap: 20px;
        padding-bottom: 110px;
    }

    /* fetured */
    .featured__descript {
        margin-bottom: 72px;
    }

    .fetured__cards {
        grid-template: repeat(3, 582px) / repeat(2, 360px);
        gap: 14px;
    }

    .fetured {
        padding-bottom: 64px;
    }

    .fetured__btn_browse_all {
        margin-top: 32px;
    }

    /* advantages */

    .advantages {
        grid-template: repeat(3, 134px) / 360px;
        gap: 48px;
        padding: 48px 0px;
    }

    /* subscribe */
    .subscribe {
        flex-direction: column;
        padding-top: 64px;
        gap: 48px;
        line-height: 162%;
        padding-bottom: 140px;
    }
}

@media (max-width:767px) {
    .center {
        padding-left: calc(50% - 188px);
        padding-right: calc(50% - 188px);
    }

    /* header */
    .nav__left {
        padding-left: 16px;
    }

    .nav__right {
        padding-right: 16px;
    }

    .nav__profile {
        display: none;
    }

    .nav__cart {
        display: none;
    }

    /* business card */
    .business_card__img {
        display: none;
    }

    .business_card {
        height: 368px;
    }

    .business_card__brand_slogan h1 {
        font-size: 38px;
        line-height: 46px;
    }

    .business_card__brand_slogan h3 {
        font-size: 20px;
        line-height: 24px;
    }

    /* promo */
    .promo {
        grid-template: 248px 248px 248px 111px / 343px;
        gap: 32px;
        padding-bottom: 64px;
    }

    .promo_item_big {
        grid-column: span 1;
    }

    /* fetured */
    .featured__descript {
        margin-bottom: 64px;
    }

    .fetured__cards {
        grid-template: repeat(6, 582px) / 360px;
        gap: 15px;
    }

    .fetured {
        padding-bottom: 96px;
    }

    .fetured__btn_browse_all {
        margin-top: 40px;
    }

    /* advantages */

    .advantages {
        grid-template: repeat(3, 130px) / 348px;
        gap: 47px;
        padding: 48px 0px 81px 0px;
    }

    /* subscribe */
    .subscribe {
        flex-direction: column;
        padding-top: 64px;
        gap: 48px;
        line-height: 162%;
        padding-bottom: 140px;
    }

    /* footer */

    footer {
        flex-direction: column-reverse;
        padding-top: 43px;
        padding-bottom: 9px;
        gap: 40px;
    }

    .media {
        padding: 0;
    }

    .copyright {
        padding: 0;
    }
}